html body {
    background-color: rgb(240, 219, 206);
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto;
    margin-top: 25px;
    background-color: lighsteelblue;
    width: 50%;
    border: 3px solid rgb(63, 47, 38);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.contact-list {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    background-color:rgb(158, 134, 121);
    color: black;
    border: 3px solid rgb(63, 47, 38);
}

input[type="text"]{
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid rgb(0,0,0);
    border-radius: 6px;
    box-sizing: border-box;
}

input [type="email"]{
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid rgb(0,0,0);
    border-radius: 6px;
    box-sizing: border-box;
}

textarea[type="text"] {
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid rgb(0,0,0);
    border-radius: 8px;
    box-sizing: border-box;
}

.remove {
    margin-bottom: 10px;
    background-color: rgba(247, 231, 217, 0.925);
    border: 2px solid;
    color: rgb(116, 86, 70);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.addcontact{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    display: block;
    text-align: center;
    border-radius: 5px;
    color: rgb(116, 86, 70);
    background-color: rgba(247, 231, 217, 0.925);
    transition: .3s ease;
}


.submit{
    margin-bottom: 10px;
    background-color: rgba(247, 231, 217, 0.925);
    border: 2px solid;
    color:  rgb(116, 86, 70);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}
