body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: auto;
    margin-top: 25px;
    background-color: lighsteelblue;
    width: 40%;
    border: 10px solid black;
    padding: 10px;
    text-align: center;
}

input[type="text"]{
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid rgb(0,0,0);
    border-radius: 6px;
    box-sizing: border-box;
}

input [type="email"]{
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid rgb(0,0,0);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: lighsteelblue;
}

textarea[type="text"] {
    width: 100%;
    padding: 12px 1px;
    margin: 10px 0;
    display: inline-block;
    border: 5px solid rgb(0,0,0);
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    margin-bottom: 10px;
    background-color: rgb(218,53,53);
    border: solid;
    color: rgb(66, 117, 211);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

